<mat-card class="demo-panel">
  <mat-card-title>
    Angular Material Menu Demo
  </mat-card-title>
  <md-card-content>
    <button md-raised-button color="primary" [matMenuTriggerFor]="menu">
      Open Menu
    </button>

    <mat-menu #menu="matMenu">
      <button md-menu-item [matMenuTriggerFor]="subMenu">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
      <button md-menu-item disabled>
        <md-icon>voicemail</md-icon>
        <span>Check voicemail</span>
      </button>
      <button md-menu-item>
        <md-icon>notifications_off</md-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>

    <mat-menu #subMenu="matMenu">
        <button md-menu-item>General</button>
        <button md-menu-item>Display</button>
        <button md-menu-item>Profile</button>
    </mat-menu>

  </md-card-content>
</mat-card>
